@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #202040;
    margin: 0;
    color: #f4f4f4;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 3%;
    font-size: 18px;
}

/* styling some html tags */
img,
i {
    opacity: 1;
    cursor: pointer;
}

img:hover,
i:hover {
    opacity: 0.7;
}

/* small classes used all over the HTML that performs some specific functions */
.align-center {
    text-align: center;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.img-cropper {
    border-radius: 50%;
}

/* Styling the menubar shown at the top */
.menubar {
    grid-template-columns: 10% 30% 50% 7% 3%;
    overflow: hidden;
    align-items: center;
    margin: 2% 3%;
}

.menubar #item3 input[type=text] {
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 1% 3%;
    background-color: #323252;
    color: #f4f4f4;
    width: 70%;
}

/* Showing the current status */
.status {
    position: fixed;
    bottom: 0;
    background-color: #2e2e33;
    width: 100%;
    padding-top: 0.3%;
    z-index: 0;
    height: 15vh;
}

/* Music Player at the Bottom */
#taskbar {
    background-color: #1b1b2f;
    position: fixed;
    bottom: 0;
    height: 10vh;
    padding: 1% 5%;
    grid-template-columns: 1fr 2fr 1fr;
}

#taskbar .item1 {
    display: grid;
    grid-template-columns: 0.6fr 1.5fr 1fr;
    font-size: 0.8rem;
}

#taskbar .item1 .time {}

#taskbar .playing {
    font-size: 0.7rem;
    flex-direction: column;
    align-items: center;
}

#taskbar .playing .options {
    padding-top: 1%;
    width: 65%;
    justify-content: center;
}

.slider {
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
}

#taskbar .slider #bar1 {
    width: 75%;
    height: 4px;
    border-radius: 5px;
    background-color: #323252;
}

#taskbar .playing #bar2 {
    width: 30%;
    height: 120%;
    background-color: #8cba51;
    border-radius: 4px;
}

#taskbar .sound {
    padding: 4% 10%;
    font-size: 0.7rem;
    justify-content: space-evenly;
    align-items: center;
}

#taskbar .sound #bar3 {
    width: 30%;
    height: 4px;
    border-radius: 8px;
    background-color: #323252;
}

#taskbar .sound #bar4 {
    width: 30%;
    height: 100%;
    border-radius: 20px;
    background-color: #8cba51;
}

/* Center Display */
.home {
    line-height: 1.5;
    margin-top: 10rem;
}

/* Making the webpage run as per the device viewport width*/
@media screen and (max-width:900px) {

    #taskbar .item1,
    #taskbar .sound,
    #taskbar .playing {
        font-size: 0.6rem;
    }

    body {
        font-size: 16px;
    }

    #taskbar {
        padding: 2% 5%;
    }
}

@media screen and (max-width:665px) {

    #taskbar .sound,
    #taskbar .item1 .time {
        display: none;
    }

    #taskbar {
        padding: 3% 5%;
        grid-template-columns: repeat(2, 2fr);
    }

    img:hover,
    i:hover {
        opacity: 1;
    }

    body {
        font-size: 15px;
    }

    .home {
        margin-top: 11rem;
    }

    .status {
        padding-top: 1%;
    }
}

@media screen and (max-width:400px) {
    .status {
        padding-top: 2%;
    }

    .home {
        margin-top: 12rem;
    }
}